view {
  background-color: #f0f0f0;
}
.btn-course-ipad {
  color            : #666;
  background-color : #fff;
  border-width     : 2px;
  border-color     : #ccc;
  border-style     : solid;
  font-size        : 50px;
}
.btn-course-iphone {
  color            : #666;
  background-color : #fff;
  border-width     : 2px;
  border-color     : #ccc;
  border-style     : solid;
  font-size        : 20px;
}
.btn-small-ipad {
    color: #fff;
    background-color: #7A81B1;
    border-style: solid;
    font-size: 25px;
}
.btn-small-iphone {
}
.img {
    background-image: url('http://schifano.github.io/mad/images/ergosphere_logo.png');
}
.topic-cell {
    background-color: #fff;
    border-width: 2px;
    border-color: #8044bb;
}
.topic-label {
    background-color: #fff;
}