view {
  background-color: #f0f0f0;
}

.btn-course {
  color            : #666;
  background-color : #fff;
  border-width     : 2px;
  border-color     : #666;
  border-style     : solid;
  font-size        : 50px;
}

.img {
    background-image: url('http://schifano.github.io/mad/images/ergosphere_logo.png');
}